{% extends 'layout.html' %}

{% block content %} 
<div class="row">
    <div class="col-md-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% include 'partials/_contactForm.html' %}
    </div>

    <div class="col-md-7">
        <table class="table table-striped table-bordered bg-white table-hover table-sm shadow-lg">
            <thead class="table-dark text-center"> <tr>
                    <th>Fullname</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody class="text-dark"> {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.fullname }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.phone }}</td>
                        <td class="d-flex justify-content-between">
                            <a href="{{ url_for('contacts.update', id=contact.id) }}" class="btn btn-secondary btn-sm rounded-0">
                                <i class="fa-solid fa-pen-to-square"></i> Update
                            </a>
                            <a href="{{ url_for('contacts.delete', id=contact.id) }}" class="btn btn-danger btn-sm rounded-0">
                                <i class="fa-solid fa-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}